@import 'node_modules/bootstrap/scss/bootstrap-grid';

.view-reviews {
    margin-top: 3rem;
    box-shadow: 12px 0px 58px -10px rgba(0, 0, 0, 0.75);
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 5%;
}
